<div class="modal-header">
    <!-- get city/state/country with http://maps.googleapis.com/maps/api/geocode/json?latlng=43.274333,11.986833&sensor=false -->
    <div ng-show="image_info.exif.original_date.length != 0">{{image_info.exif.original_date}}
        <a href="http://maps.google.com/maps?z=12&t=m&q=loc:{{image_info.exif.lat}}+{{image_info.exif.long}}"
           ng-show="image_info.exif.lat.length != 0">
            ({{image_info.exif.lat}}, {{image_info.exif.long}})
        </a></div>
    <div>
        {{image_info.caption}}
    </div>
</div>
<div class="modal-body">
    <img ng-src="/photo/{{image_info.album}}/{{image_info.image_name}}"/>
</div>
<div class="modal-footer">
    <span ng-show="show_edit">
        <button class="btn btn-primary" ng-click="update_caption()">Update caption</button>
        Caption: <input name="caption" ng-model="image_info.caption">
    </span>
    <button class="btn btn-primary btn-small" ng-click="edit()">Edit</button>
    <button class="btn btn-primary btn-small" ng-click="ok()">OK</button>
</div>