<div class="modal-header">
    <!-- get city/state/country with http://maps.googleapis.com/maps/api/geocode/json?latlng=43.274333,11.986833&sensor=false -->
    <span ng-show="image_info.exif.original_date.length != 0">{{image_info.exif.original_date}}</span>
    <a href="http://maps.google.com/maps?z=12&t=m&q=loc:{{image_info.exif.lat}}+{{image_info.exif.long}}"
       ng-show="image_info.exif.lat.length != 0">
        ({{image_info.exif.lat}}, {{image_info.exif.long}})
    </a>
</div>
<div class="modal-body">
    <img ng-src="/albums/{{image_info.album}}/{{image_info.image_name}}"/>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>