body {
    background-color: #000000;
}

#container {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 150px;
}

div.album {
    padding-top: 10px;
    padding-bottom: 10px;
}

.albumlabel {
    color: #8F8F8F;
}

.image-thumbnail {
    padding-top: 5px;
    padding-bottom: 5px;
}

.image-caption {
    font-weight: bold;
    font-size: larger;
}

.photo-date {
    font-weight: lighter;
    float: left;
}