<html ng-app="albumApp">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="app/controllers.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body ng-controller="AlbumController">
<div>
    Album
    <select ng-model="album_selector" ng-change="album_changed(album_selector)" ng-options="i for i in albums">
        <option value="">-- Select album --</option>
    </select>
</div>
<div>
    <ul class="inline">
        <li ng-repeat="i in image_names_by_album[album_selector]">
            <img ng-click="open(album_selector,i)" ng-src="/albums/{{album_selector}}/{{i}}?thumbnail=true"/>
        </li>
    </ul>
</div>
</body>
</html>