<html ng-app="albumApp">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="app/controllers.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <title>Photo fun</title>
</head>
<body ng-controller="AlbumController">
<div ng-repeat="album in albums" class="album">
    <span class="albumlabel">{{album}}</span>
    <ul class="inline">
        <li ng-repeat="i in image_names_by_album[album]">
            <img ng-click="open(album,i)" ng-src="/albums/{{album}}/{{i}}?thumbnail=true"/>
        </li>
    </ul>
</div>
</body>
</html>